


<!DOCTYPE html>
<html>
<head id="Head1">
    <script src="/Js/jquery.min.js" type="text/javascript"></script>
    <script src="/Js/jquery-migrate.min.js" type="text/javascript"></script>

    <link href="/Style/calendar.css" rel="stylesheet" type="text/css" />
    <link href="/Style/style.css" rel="stylesheet" type="text/css" />
    <link href="/Style/floatinglikebox.css" rel="stylesheet" type="text/css" />

    <title>
        صفحه اصلی - مرکز آموزش فنی و حرفه‌ای بین کارگاهی الوان ثابت
    </title>
    <link href="/bundles/css.css" rel="stylesheet" />
    <meta name="copyright" content="مرکز آموزش فنی و حرفه‌ای بین کارگاهی الوان ثابت" />
    <meta name="description" content="مرکز آموزش فنی و حرفه‌ای بین کارگاهی الوان ثابت" />
    <meta name="keywords" />
    <link rel="canonical" href="http://www.tvto.alvan-uast.ir" />
    <meta name="og:type" content="website" />
    <meta name="og:title" content="صفحه اصلی - مرکز آموزش فنی و حرفه‌ای بین کارگاهی الوان ثابت" />
    <meta name="og:description" content="مرکز آموزش فنی و حرفه‌ای بین کارگاهی الوان ثابت" />
    <meta name="og:url" content="http://www.tvto.alvan-uast.ir" />
    <meta name="og:image" content="http://www.tvto.alvan-uast.ir/uploads/preview.jpg" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="صفحه اصلی - مرکز آموزش فنی و حرفه‌ای بین کارگاهی الوان ثابت" />
    <meta name="twitter:description" content="مرکز آموزش فنی و حرفه‌ای بین کارگاهی الوان ثابت" />
    <meta name="twitter:image" content="http://www.tvto.alvan-uast.ir/uploads/preview.jpg" />
    <meta name="twitter:image:alt" content="صفحه اصلی - مرکز آموزش فنی و حرفه‌ای بین کارگاهی الوان ثابت" />
    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
    <meta name="DC.title" content="صفحه اصلی - مرکز آموزش فنی و حرفه‌ای بین کارگاهی الوان ثابت" />
    <meta name="DC.identifier" content="http://www.tvto.alvan-uast.ir" />
    <meta name="DC.description" content="مرکز آموزش فنی و حرفه‌ای بین کارگاهی الوان ثابت" />
    <meta name="DC.language" scheme="ISO639-1" content="fa" />
    <meta name="DC.creator" content="مدیر فنی سایت-اریامرام" />
    <meta name="DC.publisher" content="مرکز آموزش فنی و حرفه‌ای بین کارگاهی الوان ثابت" />
    <meta name="DC.type" scheme="DCMITYPE" content="http://purl.org/dc/dcmitype/Image" />
    <meta name="DC.type" scheme="DCMITYPE" content="http://purl.org/dc/dcmitype/Sound" />
    <meta name="DC.type" scheme="DCMITYPE" content="http://purl.org/dc/dcmitype/Text" />
    <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" />
    <meta name="DCTERMS.created" scheme="ISO8601" content="2008-04-22" />
</head>
<body class="body">
    <script src="/bundles/common.JS"></script>


    <link href="/theme/1/Default/Style/Global.css" rel="stylesheet" type="text/css" />
    <link href="/theme/1/Default/Style/fonts.css" rel="stylesheet" type="text/css" />
    <link href="/theme/1/Default/menu/menu.css" rel="stylesheet" type="text/css" />


    <script type='text/javascript' src="/Js/jquery.dcmegamenu.1.3.3.js"></script>
    <script type='text/javascript' src="/Js/jquery.hoverIntent.minified.js"></script>


    <script src="/theme/1/Default/menu/jquery.smartmenus.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/theme/1/Default/Style/skin.css" />
    <link rel="stylesheet" type="text/css" href="/theme/1/Default/Style/skin1.css" />

    <div style="width:1000px;margin:0 auto">

        <div style="width: 1000px; margin: 0 auto; height:201px;">
            <div class="Header_BG">

                <div class="Header_Date" dir="rtl">
                    <span>@DateTime.Now.GetPersianDate()</span>
                    <span>-</span>
                    <span dir="ltr"> @DateTime.Now.Day @DateTime.Now.GetMiladiMonthName() @DateTime.Now.Year</span>
                </div>
                <div style="float:left;width:500px;">

                    <div style="float: left; margin: 7px 5px 0 28px">
                        <a class="Home_Icon" href="/?pageid=0" title="صفحه اصلی"></a>
                        <a class="SiteMap_Icon" title="نقشه سایت"></a>
                        <a class="Email_Icon" href="mailto:tvtoinfo@alvan-uast.ir" title="پست الکترونیکی"></a>
                    </div>

                    <div style="float: left; color: #fff; margin: 3px 0 0 10px">
                        <a class="Header_Link" title="وب سایت فارسی" href="http://tvto.alvan-uast.ir">فارسی</a> |
                        <a class="Header_Link" title="وب سایت انگلیسی" href="http://tvto.alvan-uast.ir/en">English</a>
                    </div>
                    <div class="Header_Login">
                        <a asp-area="Admin" asp-page="Index">ورود به سایت </a>
                    </div>
                </div>
            </div>
            <div class="Menu_BG">
                <div style="padding-right: 10px">
                    <ul id="main-menu" class="sm sm-blue">
                        <li id="Firstli" class="separate">
                            <a class="Menu_ItemH" target="_parent" href="~/" title="صفحه اصلی">
                                <span class="icon0"></span><span>صـــفـــحـــه اصـــلـــی</span>
                            </a>
                        </li>
                        <li>
                            <a class="Menu_ItemH" target="_parent" href="#" title="ارتباط با مرکز">
                                <span class=""></span>ارتـــبـــاط بـــا مـــرکـــز
                            </a>
                            <ul>
                                <li class="submenu-main">
                                    <a class="submenu-item" target="_parent" href="/MenuContent/15" title="نقشه">نقشه</a>
                                </li>
                                <li class="submenu-main">
                                    <a class="submenu-item" target="_parent" href="/MenuContent/16" title="مسیرهای دسترسی">مسیرهای دسترسی</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="Menu_ItemH" target="_parent" href="#" title="فرهنگی و پژوهشی">
                                <span class=""></span>فـــرهـــنـــگی و پـــژوهـــشـــی
                            </a>
                            <ul>
                                <li class="submenu-main">
                                    <a class="submenu-item" width="100%" target="_parent" href="/MenuContent/17" title="اطلاعیه های فرهنگی">اطلاعیه های فرهنگی</a>
                                </li>
                                <li class="submenu-main">
                                    <a class="submenu-item" width="100%" target="_parent" href="/MenuContent/18" title="پژوهشی">پژوهشی</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="Menu_ItemH" target="_parent" href="/MenuContent/19" title="معرفی دوره ها"><span class=""></span>مـــعـــرفـــی دوره هـــا</a>
                        </li>
                        <li>
                            <a class="Menu_ItemH" target="_parent" href="#" title="آموزش"><span class=""></span>آمـــوزش</a>
                            <ul>
                                <li class="submenu-main">
                                    <a class="submenu-item" target="_parent" href="/MenuContent/20" title="آیین‌نامه ها">آیین‌نامه ها</a>
                                </li>
                                <li class="submenu-main">
                                    <a class="submenu-item" target="_parent" href="/MenuContent/21" title="تفاهم نامه ها">تفاهم نامه ها</a>
                                </li>
                                <li class="submenu-main">
                                    <a class="submenu-item" target="_parent" href="/MenuContent/22" title="دستاورد ها">دستاورد ها</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="Menu_ItemH" target="_parent" href="/MenuContent/23" title="اخبار و اطلاعیه ها">
                                <span class=""></span>
                                <span>اخـــبـــار و اطـــلاعـــیـــه هـــا</span>
                            </a>
                        </li>
                        <li>
                            <a class="Menu_ItemH" target="_parent" href="#" title="درباره ما"><span class=""></span>دربـــاره مـــا</a>
                            <ul>
                                <li class="submenu-main">
                                    <a class="submenu-item" target="_parent" href="/MenuContent/24" title="آشنایی با مرکز">آشنایی با مرکز</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="Navigation_BG">
                <div class="Navigation_BG_Div">
                    شما اینجا هستید
                    <span id="ctl28_Header1_Navigation1_lblNavigation">
                        <a class="NavigationLink_Top" href="/Page/0/صفحه-اصلی.html">صفحه اصلی</a>
                    </span>
                    <div id="vtheaderoghat" style="display:none;float:left;"></div>
                </div>
            </div>
        </div>

        <div class="Page_Body">
            @RenderBody()
        </div>

        <div style="width:1000px;height:188px;">
            <div class="Footer_BG">
                <div style="width:475px;float:right;height:158px;"></div>
                <div class="img">
                    <img src="/theme/1/Default/Images/Footer/shore-sal.png" class="img-logo">
                </div>
                <div class="Footer_Adress">
                </div>
                <div class="Footer_Text" style="color: #fff;margin:14px 0 0 0;float:right;line-height:2">
                    آدرس : همدان - کیلومتر 40 جاده همدان به قزوین - شهرک صنعتی  ویان -<br />
                    شرکت دانش بنیان الوان ثابت - مرکز فنی و حرفه ای بین کارگاهی الوان ثابت<br />
                    کدپستی : 6553139771<br />
                    تلفن : 35345145 - 081  /
                    09357522019<br />
                    دورنگار : 35345147 - 081<br />
                    وب سایت : www.tvto.alvan-uast.ir<br />
                </div>
                <div class="Footer_Border"></div>
            </div>
            <div style="width: 1000px; height: 30px; padding-top: 5px;">
                <div style="float: right;" class="Footer_Text">
                    کلیه حقوق این سایت متعلق به شرکت دانش بنیان الوان ثابت می
                    باشد.
                </div>
                <div style="float: left;" class="Footer_Link">
                    Designed By : <a title="Farhad Ariamaram" href="https://github.com/farhad-ariamaram" target="_blank">Farhad Ariamaram</a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            $(".textboxs").focus(function () { $(".textboxs").val(""); });
            $(".sm-blue li").hover(function () {
                $(this).find("a span.sub-arrow").addClass("sub-arrow_hover");
            }, function () { $(".sm-blue a span.sub-arrow").removeClass("sub-arrow_hover"); });


        });

        //SmartMenus jQuery init
        $(function () {
            $('#main-menu').smartmenus({
                subMenusSubOffsetX: 1,
                subMenusSubOffsetY: -8
            });
        });

    </script>


    <script src="/Js/jquery.jcarousel.js" type="text/javascript"></script>

    <script src="/Js/Grid.js" type="text/javascript"></script>
    <script src="/Js/amin.js" type="text/javascript"></script>

    <script src="/Js/fade.js" type="text/javascript"></script>

</body>
</html>